.jumbotron {
  color: #f5f5e5;
  margin-top: 50px;
  margin-bottom: 0px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS1ULh3keLS1i9NSw4jcXMIlfhM_ll5Nrvsm4-tjkAyFRMpyQ_UcvMGYh5abnIZZeZgPDC6zFGMA0CXblSGvE_ivrtHTwd2HzO-DA&usqp=CAU&ec=45699845");
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #edea53;
  margin-top: 10px;
  margin-bottom: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.padding {
  margin-top: 0;
  margin-bottom: 110px;
}
.paddinglima {
  margin-top: 0;
  margin-bottom: 105px;
}
.paddingrio {
  margin-top: 0;
  margin-bottom: 110px;
}
.paddingpaz {
  margin-top: 0;
  margin-bottom: 105px;
}
.paddingmadrid {
  margin-top: 0;
  margin-bottom: 110px;
}
.card-hotel {
  flex: 1 300px;
  margin-top: 40px;
  margin-bottom: 0px;
}
.boton {
  width: 30%;
}
.botonarg {
  width: 80%;
}
.btn-reserva {
  width: 80%;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.imagen {
  width: 350px;
  height: auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.tab-content {
  padding-top: 10px;
}
