.jumbotron {
  color: #EA9A50;
  margin-top: 50px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTlRt-cR1KwzaaMw_brD3Rn55-G7TR7VoRBEQ&usqp=CAU");
}

.banner {
  color: #EA9A50;
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: #EA9A50;
  margin-bottom: 0px;
  margin-top: 10px;
}

.footer-address-icon {
  padding-right: 10px;
}

.padding {
  padding-bottom: 110px;
}

.paddinglima {
  padding-bottom: 105px;
}

.paddingrio {
  padding-bottom: 110px;
}

.paddingpaz {
  padding-bottom: 105px;
}

.paddingmadrid {
  padding-bottom: 110px;
}

.card-hotel {
  flex: 1 300px;
  margin-top: 40px;
}

.boton {
  width: 30%;
  background-color: #f82525;
}

.botonarg {
  width: 90%;
}

.btn-reserva {
  width: 90%;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.imagen {
  width: 320px;
  height: auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
